In [1]:
import pandas as pd
import numpy as np

In [2]:
xls = ['BOXRSA', "CHXRSA", "DAXRSA", "DEXRSA", "LXXRSA", "NYXRSA", "PHXRSA", "SEXRSA", "SFXRSA", "EMPLOY", "UNRATE", "GDPC1", "CPIAUCSL"]
# Merge all the data into one dataframe and save it as a csv file keep dates as index, and columns as the names of the files
df = pd.DataFrame()
for x in xls:
    data = pd.read_excel(f"{x}.xls", index_col=0, skiprows=10)
    df = pd.concat([df, data], axis=1)
    if x == "EMPLOY":
        df.rename(columns={"LREM64TTUSM156S": "emp_rate"}, inplace=True)
    elif x == "UNRATE":
        df.rename(columns={"UNRATE": "unemp_rate"}, inplace=True)
    elif x == "GDPC1":
        df.rename(columns={"GDPC1": "gdp"}, inplace=True)
    elif x == "CPIAUCSL":
        df.rename(columns={"CPIAUCSL": "inflation"}, inplace=True)
    else:
        df.rename(columns={f"{x}": f"{x.lower()}"}, inplace=True)
# Interpolate missing values
df.interpolate(inplace=True)
# Drop rows with missing values
df.reset_index(inplace=True)
# Replace nan with median
df = df.fillna(df.median())
df.to_csv("data.csv")

/var/folders/m7/j_jpk8bs54j9qcwdkxw85y2w0000gn/T/ipykernel_10244/1960229730.py:22: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df = df.fillna(df.median())

In [3]:
# Read the data from the csv file
data = pd.read_csv("data.csv", index_col=0)
data

,observation_date,boxrsa,chxrsa,daxrsa,dexrsa,lxxrsa,nyxrsa,phxrsa,sexrsa,sfxrsa,emp_rate,unemp_rate,gdp,inflation
0,2019-01-01,217.461609,143.998485,190.731876,125.227686,282.869897,201.593907,189.062900,250.110991,263.928175,71.03175,3.85,20431.641000,252.561
1,2019-02-01,217.335819,144.267776,191.073263,125.327061,282.438210,202.080585,189.575508,249.474275,263.543428,71.06824,3.85,20488.519000,253.319
2,2019-03-01,218.372646,143.867535,189.867935,125.390261,281.820522,200.894474,189.606676,248.348096,263.790054,71.05563,3.85,20545.397000,254.277
3,2019-04-01,219.646361,144.168175,189.715263,125.840163,282.870989,200.654031,190.048450,247.328551,265.052762,71.13650,3.85,20602.275000,255.233
4,2019-05-01,219.963661,144.095882,189.761399,126.570518,284.199509,200.671341,190.484645,247.794303,265.101276,71.14388,3.85,20682.624000,255.296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,2024-06-01,333.769806,206.205799,295.967387,187.230041,439.757323,311.131293,324.348280,385.679277,357.675676,71.80083,4.10,23332.457333,313.049
66,2024-07-01,334.540116,207.036537,296.223465,188.013742,440.347076,312.705366,324.908968,389.293551,356.656879,71.79679,4.30,23386.733000,313.534
67,2024-08-01,335.294871,208.636480,296.636627,188.664160,440.618527,313.744669,324.400323,392.519446,357.662571,71.73347,4.20,23386.733000,314.121
68,2024-09-01,335.406133,209.607565,297.392108,189.893558,439.668785,314.754075,327.077829,395.698658,357.714219,71.87366,4.10,23386.733000,314.686
69,2024-10-01,335.406133,209.607565,297.392108,189.893558,439.668785,314.754075,327.077829,395.698658,357.714219,71.70954,4.10,23386.733000,315.454